/**
 * =========================================
 * Nav Bar
 * =========================================
 */

@media (max-width: 575px) {
  .submit-button {
    display: none;
  }
}
/*nav {
  background-color: rgba(255, 255, 255, 0);
}*/

/**
 * =========================================
 * Artist Profile
 * =========================================
 */

.artist-profile-img {
  /*-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);*/
}

.artist-name {
  font-size: 5vw;
  /*transform: translateY(50%);*/
  color: white;
}

@media (max-width: 480px) {
  .artist-name{
    font-size: 22px;
  }
  .album-name {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .artist-name{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.artist-profile-placeholder {
  margin-top: 25px;

  /*margin: 1vw auto;*/
}

.cover-art-background {
  z-index: -2;
  top:0;
  background-repeat: no-repeat;
  background-position: 0%,0%,15%,30%,45%,60%,75%,90%,105%;
  height: 300px;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/**
 * =========================================
 * Track list
 * =========================================
 */

.list-group {
  list-style: decimal inside;
}

.list-group-item {
  display: list-item;
}

/**
 * =========================================
 * Album Art
 * =========================================
 */

.album-list-outer {
  height: 750px;
  overflow-y: scroll;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.album-image {
  width:30%;
  height:auto;
  margin-right: 4px;
  margin-bottom: 8px;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

/**
 * CSS for sidescrolling albums when viewed on mobile
 */
@media (max-width: 767px) {
  .album-list-outer{
    height:auto;
  }
  .album-list-inner {
    display: table-row;
  }
  .album-list-cell {
    display: table-cell;
  }
  .album-image {
    width: 118px;
  }
}

/**
 * =========================================
 * General purpose classes
 * =========================================
 */

.center-children {
  text-align: center;
}

@media (min-width: 768px) {
  .bottom-container {
    margin-top: 130px;
  }
}
