.hide-this {
  display: none; }

.center-children {
  text-align: center; }

@media (min-width: 768px) {
  .bottom-half {
    margin-top: 60px; } }
.make-relative {
  position: relative; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #191414;
  height: 100%; }

.box-shadow {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75); }

.light-box-shadow {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.48); }

.fa:hover {
  cursor: pointer; }

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.btn-outline-success {
  color: #1DB954; }
  .btn-outline-success:hover {
    background-color: #1DB954;
    border-color: #1DB954; }

.has-success .form-control {
  border-color: #1DB954; }

@media (max-width: 575px) {
  .submit-button {
    display: none; } }
.search-clear {
  position: absolute;
  right: 115px;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  color: #ccc; }

@media (max-width: 575px) {
  .search-clear {
    right: 30px; } }
.artist-profile-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 50%; }
  @media (max-width: 767px) {
    .artist-profile-img {
      width: 150px;
      height: 150px; } }

.artist-name {
  font-size: 4vw;
  color: white; }
  @media (max-width: 767px) {
    .artist-name {
      font-size: 22px;
      margin-top: 20px;
      margin-bottom: 20px; } }

@media (max-width: 480px) {
  .artist-name {
    font-size: 22px; }

  .album-name {
    font-size: 18px; } }
.artist-profile-placeholder {
  margin-top: 25px; }

.cover-art-background {
  width: 100%;
  height: 300px;
  top: 0;
  background-repeat: no-repeat;
  background-position: 0%,0%,15%,30%,45%,60%,75%,90%,105%;
  position: absolute;
  -webkit-filter: blur(10px);
          filter: blur(10px); }

.list-group {
  list-style: decimal inside; }
  .list-group-item {
    display: list-item; }
    .list-group-item:hover {
      cursor: pointer;
      border: 4px solid #1DB954; }

.playing {
  background-color: #1DB954;
  border: 4px solid #1DB954;
  color: white; }

.selected {
  border: 4px solid #1DB954; }

.track-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  @media (max-width: 767px) {
    .track-list {
      min-height: 250px;
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .track-list {
      height: 600px; } }

#other-artist {
  font-size: 14px;
  color: grey; }
  #other-artist:hover {
    border-bottom: 2px solid #1DB954;
    cursor: pointer;
    color: #1DB954; }
  .audio-bar-text > #other-artist, .playing > #other-artist {
    color: #E4EDE4; }
    .audio-bar-text > #other-artist:hover, .playing > #other-artist:hover {
      color: white;
      border-bottom: 2px solid white; }

.album-list-outer {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .album-list-outer {
      margin-top: 38px; } }

.album-list-container {
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .album-list-container {
      padding-left: 0;
      height: 600px; } }

.album-image {
  width: 30%;
  height: auto;
  margin-right: 4px;
  margin-bottom: 8px;
  cursor: pointer; }
  @media (max-width: 767px) {
    .album-image {
      width: 118px; } }

.popular-album-image {
  background-color: white; }

@media (max-width: 767px) {
  .album-list-inner {
    display: table-row; }

  .album-list-cell {
    display: table-cell; } }
.active-album {
  border: 4px solid #1DB954; }

.artist-list-cell {
  cursor: pointer; }

.related-artist-img {
  width: 118px;
  height: 118px;
  background-size: cover;
  background-position: center;
  margin: 0 auto; }

.artist-list-inner {
  display: table-row; }

.artist-list-cell {
  display: table-cell; }

.artist-list-outer {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 10px; }

.artist-list-cell > span {
  margin-right: 8px; }

.card {
  margin-bottom: 30px; }
  .card-text {
    font-size: 12px;
    text-align: center; }
  .card-block {
    padding: 10px 0; }

.related-artist-header {
  margin: 30px 0; }
  @media (max-width: 480px) {
    .related-artist-header {
      font-size: 18px; } }

.related-artist-container {
  padding-top: 30px;
  background-color: #E4EDE4;
  width: 100%; }

.audio-bar {
  width: 100%;
  background: #1DB954;
  position: fixed;
  padding: 7px;
  text-align: center;
  bottom: 0px; }
  .audio-bar > span {
    color: white;
    font-size: 30px;
    bottom: 0; }
  .audio-bar-text {
    color: white; }
  .audio-bar-info {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 30px; }
  .audio-bar-fluid-width {
    margin: 0 auto; }

.play-pause {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 70px; }

.scroll-spy-position {
  bottom: -137px;
  position: absolute; }

.landing-page {
  z-index: 1;
  top: 8vw;
  position: relative; }
  .landing-page-title {
    margin-bottom: 36px; }
  .landing-page-search {
    display: inline;
    width: 50%; }

.footer-bar {
  position: absolute;
  background: #1DB954;
  width: 100%;
  margin-top: 135px;
  padding: 5px;
  color: white;
  font-size: 15px; }

.footer-link {
  color: white;
  margin-left: 5px; }
  .footer-link:hover, .footer-link:active {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white; }

.footer-position {
  bottom: 0; }

@keyframes hvr-bob {
  0% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(-3px); }
  100% {
    transform: translateY(-5px); } }
@keyframes hvr-bob-float {
  100% {
    transform: translateY(-5px); } }
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  animation-name: hvr-bob-float, hvr-bob;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform; }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -ms-transform: scale(1.2);
        transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */