@import 'vars';
@import 'mixins';

 //General purpose classes

.hide-this {
  display:none;
 }

.center-children {
  text-align: center;
}

@media (min-width: 768px) {
  .bottom-half {
    margin-top: 60px;
  }
}

 // Need to make body relative for scroll-spy to work
 // Need to add to body only after landing page

.make-relative {
  position: relative;
}

body, h1, h2, h3, h4, h5, h6  {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: $off-black;
  height:100%;
}

.box-shadow {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.light-box-shadow {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.48);
}

.fa:hover {
  cursor: pointer;
}

// Class to prevent text to be selected
.noselect {
  user-select: none;
}

// Nav bar

.btn-outline-success {
  color: $primary-color;
  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.has-success .form-control {
  border-color: $primary-color;
}

@media (max-width: 575px) {
  .submit-button {
    display: none;
  }
}

// Refactor clear button to use relative positioning later
.search-clear {
  position: absolute;
  right: 115px;
  top: 0;
  bottom: 0;
  height: 20px;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  color: $clear-icon-color;
}

@media (max-width: 575px) {
  .search-clear {
    right: 30px;
  }
}

// Artist Profile

.artist-profile-img {
  @include center-image(200px,50%);
}

.artist-name {
  font-size: 4vw;
  color: white;
}

@media (max-width: 480px) {
  .artist-name {
    font-size: 22px;
  }
  .album-name {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .artist-name {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .artist-profile-img {
    @include size(150px);
  }
}

.artist-profile-placeholder {
  margin-top: 25px;
}

.cover-art-background {
  @include size(100%,300px);
  top:0;
  background-repeat: no-repeat;
  background-position: 0%,0%,15%,30%,45%,60%,75%,90%,105%;
  position: absolute;
  filter: blur(10px);
}

// Track list

.list-group {
  list-style: decimal inside;
  &-item {
    display: list-item;
    &:hover {
      cursor: pointer;
      border: $border;
    }
  }
}

.playing {
  background-color: $primary-color;
  border: $border;
  color: white;
}

.selected {
  border: $border;
}

.track-list {
  @include scroll;
  height: 600px;
}

@media (max-width: 767px) {
  .track-list {
    // height: auto;
    min-height: 250px;
    margin-bottom: 20px;
  }

}
#other-artist{
  font-size: 14px;
  color: grey;
  &:hover{
    border-bottom: 2px solid $primary-color;
    cursor: pointer;
    color: $primary-color;
  }
  .audio-bar-text > &, .playing > & {
    color: $faded-grey;
    &:hover {
      color: white;
      border-bottom: $underline;
    }
  }
}

// Album Art

.album-list-outer {
  @include scroll;
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.album-list-container {
  height: 600px;
  padding-bottom: 20px;
}

.album-image {
  @include size(30%,auto);
  margin-right: 4px;
  margin-bottom: 8px;
  &:hover{
    cursor: pointer;
  }
}

.popular-album-image {
  background-color: white;
}

// CSS for sidescrolling albums when viewed on mobile

@media (max-width: 767px) {
  .album-list-outer{
    height: auto;
  }
  .album-list-inner {
    display: table-row;
  }
  .album-list-cell {
    display: table-cell;
  }
  .album-image {
    width: 118px;
  }
  .album-list-container {
    padding-left: 0;
  }
}

.active-album {
  border: $border;
}

@media (min-width: 768px){
  .album-list-outer {
    margin-top: 38px;
  }
}

// Related Artists

.artist-list-cell {
  cursor: pointer;
}

.related-artist-img {
  @include center-image(118px);
}

// CSS for sidescrolling artists when viewed on mobile

.artist-list-outer {
  @include scroll;
  // height: auto;
  padding-top: 10px;
}
.artist-list-inner {
  display: table-row;
}
.artist-list-cell {
  display: table-cell;
  > span {
    margin-right: 8px;
  }
}

.card {
  margin-bottom: 30px;
  &-text {
    font-size: 12px;
    text-align: center;
  }
  &-block {
    padding: 10px 0;
  }
}

.related-artist-header {
  margin: 30px 0;
}

@media (max-width: 480px){
  .related-artist-header {
    font-size: 18px;
  }
}

.related-artist-container {
  padding-top: 30px;
  background-color:$faded-grey;
  width:100%;
}

// Audio bar

.audio-bar {
  width:100%;
  background: $primary-color;
  position:fixed;
  padding: 7px;
  text-align: center;
  bottom:0px;
  > span {
    color: white;
    font-size: 30px;
    bottom: 0;
  }
  &-text {
    color:white;
  }
  &-info {
    @include scroll;
    height:30px;
  }
  &-fluid-width {
    margin: 0 auto;
  }
}

.play-pause {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 70px;
}
.scroll-spy-position {
  bottom: -137px;
  position: absolute;
}

// Landing Page

.landing-page {
  z-index: $z-landing-page;
  top: 8vw;
  position: relative;
  &-title {
    margin-bottom: 36px;
  }
  &-search {
    display:inline;
    width: 50%;
  }
}

// Footer

.footer-bar {
  position: absolute;
  background: $primary-color;
  width: 100%;
  margin-top: 135px;
  padding: 5px;
  color: white;
  font-size: 15px;
}
.footer-link {
  color:white;
  margin-left: 5px;
  &:hover, &:active {
    color:white;
    text-decoration: none;
    border-bottom: $underline;
  }
}
.footer-position {
  bottom: 0;
}

// Animations
// Taken from hover.css
// https://github.com/IanLunn/Hover
// Bob effect

@keyframes hvr-bob {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes hvr-bob-float {
  100% {
    transform: translateY(-5px);
  }
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  animation-name: hvr-bob-float, hvr-bob;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

// Grow effect

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  &:hover, &:focus, &:active {
    transform: scale(1.2);
  }
}
